<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>neoLib</title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body hx-boost="true" hx-get="/server/books/" hx-target="#content" hx-trigger="load">
    <h1>My Books</h1>
    <a href="newbook.html" hx-target="body">Add a new book</a>
    <select
        hx-get="/server/books/"
        hx-target="#content"
        hx-trigger="change"
        hx-indicator="#loading"
        hx-param="category"
    >
        <option value="all">All</option>
        <option value="fiction">Fiction</option>
        <option value="non-fiction">Non-Fiction</option>
    </select>
    <div id="content">
        <!-- The template data will be loaded here -->
    </div>
    <script src="scripts/htmx.min.js"></script>
</body>
</html>