{{range .}}
    <p>{{.UUID}}</p>
    <p>{{.Title}}</p>
    <p>{{.Publisher}}</p>
    <p>{{.Category}}</p>
    <p>{{.Author}}</p>
    <p>{{.Page}}</p>
    <p>{{.Language}}</p>
    <p>{{.PublicationYear}}</p>
    <p>{{.ISBN}}</p>
{{end}}