<div>
    {{if .Title}}<p>Title: {{.Title}}</p>{{end}}
    {{if .Publisher}}<p>Publisher: {{.Publisher}}</p>{{end}}
    {{if .Category}}<p>Category: {{.Category}}</p>{{end}}
    {{if .Author}}<p>Author: {{.Author}}</p>{{end}}
    {{if .Page}}<p>Page: {{.Page}}</p>{{end}}
    {{if .Language}}<p>Language: {{.Language}}</p>{{end}}
    {{if .PublicationYear}}<p>Publication year: {{.PublicationYear}}</p>{{end}}
    {{if .ISBN}}<P>ISBN: {{.ISBN}}</p>{{end}}
</div>