{{range .}}
    <div id="{{.ISBN}}" hx-trigger="click" hx-get="/server/books/book?isbn={{.ISBN}}" hx-target="body">
        <p>Title: {{.Title}}</p>
        <p>ISBN: {{.ISBN}}</p>
        <a href="/{{.ISBN}}">View book details</a>
    </div>
{{end}}