{{define "layout"}}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>neoLib</title>
	<link rel="stylesheet" href="../static/stylesheets/style.css">
</head>
<body>
	<h3>Your Library</h3>
	{{range .}}
    <div hx-get="/server/library">
        <p>{{.UUID}}</p>
        <p>{{.Title}}</p>
        <p>{{.Publisher}}</p>
        <p>{{.Category}}</p>
        <p>{{.Author}}</p>
        <p>{{.Page}}</p>
        <p>{{.Language}}</p>
        <p>{{.PublicationYear}}</p>
        <p>{{.ISBN}}</p>
	</div>
    {{end}}
	<script src="../htmx.min.js"></script>
</body>
</html>
{{end}}